@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 50px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size:28px;
  line-height:28px;
  padding-top:10px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section .home-content i{
  position:fixed;
}

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  position: relative;
  left:50px;
  font-size: 35px;
  font-weight: 600;
  
}
@media (max-width: 480px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

@media only screen and (max-width:480px){
  .home-section .home-content .text{
    font-size: 20px;
  }
  
}

 
/* body{
  padding: 0 10px;
  height: 100%;
  /* overflow: hidden; 
  
} */
.budgetwrapper{
  max-width: 500px;
  width: 100%;
  margin: 5px auto;
  background: #f2f5f8;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
  border-radius: 10px;
 
  
  
}
.budgetwrapper:hover{
  border-radius:10px;
 -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);

}

.budgetwrapper .budgettitle1{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color:#004680;
  text-transform: uppercase;
  text-align: center;
}

.budgetwrapper .budgetform{
  width: 100%;
  
}

.budgetwrapper .budgetform .budgetinputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  
}

.budgetwrapper .budgetform .budgetinputfield label{
   width: 200px;
   color: #004680;
   margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  
}

.budgetwrapper .budgetform .budgetinputfield .input,
.budgetwrapper .budgetform .budgetinputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid black ; 
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.budgetwrapper .budgetform .budgetinputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
  
}

.budgetwrapper .budgetform .budgetinputfield .custom_select{
  position: relative;
  width: 100%;
  height: 35px;
  
}

.budgetwrapper .budgetform .budgetinputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.budgetwrapper .budgetform .budgetinputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 4px 10px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 6px;
}


.budgetwrapper .budgetform .budgetinputfield .input:focus,
.budgetwrapper .budgetform .budgetinputfield .textarea:focus,
.budgetwrapper .budgetform .budgetinputfield .custom_select select:focus{
  border: 1px solid black;
}

.budgetwrapper .budgetform .budgetinputfield p{
   font-size: 14px;
   color: #757575;
}
.budgetwrapper .budgetform .budgetinputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.budgetwrapper .budgetform .budgetinputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.budgetwrapper .budgetform .budgetinputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: block;
  position: relative;
}
.budgetwrapper .budgetform .budgetinputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}


.budgetwrapper .budgetform .budgetinputfield .btn{
  width: 30%;
  padding: 8px 10px;
  font-size: 15px; 
  border:0px; 
  background:#004680;
  color:white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  justify-content:center;
  margin: 10px;
  border-radius: 20px;
  margin-left:10%;
 
}
.budget_error{
  text-align: center;
  justify-content:center;
  align-items: center;

  margin-left: 50px;
  

}

.budgetwrapper .budgetform .budgetinputfield .btn:hover{
  background:white;
  color:#084e86;
  border: 1px solid #084e86;
  
}

.budgetwrapper .budgetform .budgetinputfield:last-child{
  margin-bottom: 0;
}


@media (max-width:420px) {
  .budgetwrapper .budgetform .budgetinputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .budgetwrapper .budgetform .budgetinputfield label{
    margin-bottom: 5px;
  }
  .budgetwrapper .budgetform .budgetinputfield.terms{
    flex-direction: row;
  }
}

.budgetprevious {
  text-decoration: none;
  display: inline-flex;
  padding: 8px 16px;
  background:#004680;
  color:white;
  float: right;
  margin-right: 280px;
  cursor: pointer;
  border-radius: 20px;
 
}
.budgetprevious:hover{
  background:white;
  color:#084e86;
  border: 1px solid #084e86;
}

@media (max-width:768px){
  .budgetprevious{
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width:480px){
  .budgetprevious{
    margin-right: 0px;
    margin-left: 0px;
  }
}